{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  	<head>
      	<meta charset="UTF-8">
		<meta name="description" content="Mini Facebook">
		<meta name="author" content="Blake">
		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}
		<link rel="stylesheet" type="text/css" href="../static/css/myapp.css">
		<script src="../static/js/global.js"></script>
	</head>
	<body>
		<div class="app_width border rounded">
			<div class="logo_container">
				<img src="../static/app_images/app_logo.png">
			</div>
		<h5 class="text-center">myApp</h5>
		<hr>
